
body{
  	background-color: #ffffff;
  	font-family: Arial, Helvetica, sans-serif;
  	padding: 0;
  	margin: 0;
  	max-width:2000px;
		margin: 0 auto;
		padding:0;
  }
  /*georgia is secondary font*/
	nav {
  	width: 100%;
		position: fixed;
		height: 60px;
		top: 10px;
		background-color: #595959;
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav li {
    display: inline;
  }
  nav img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -72px;
  }
  #navLeft {
    float: left;
  }
  #navRight {
    float: right;
  }

.item {
  width: 220px;
  margin: 10px;
  float: left;
}




