html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body{
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	max-width: 2000px;
	margin: 0 auto;
	padding: 0;
}

/*georgia is secondary font*/

nav {
	width: 100%;
	position: fixed;
	height: 40px;
	top: 28px;
	background-color: #595959;
	color: #ffffff;
	margin: 0;
	padding: 0;
	font-size: 11px;
	padding-top: 20px;
	box-shadow: 0px 0px 7px rgba(89, 89, 89, 0.5);
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  border-bottom: 1px dotted #ffffff;
  padding-bottom: 3px;
}

#navContainer {
  width: 920px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: -75px;
}

nav li {
  display: inline;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid #898989;
  text-transform: uppercase;
}

.noBorder {
  border-right: none;
}

.noPaddingR {
  padding-right: 0;
}

nav li:last-of-type {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

nav img {
  position: relative;
  top: 27px;
  box-shadow: 0px 0px 7px rgba(89, 89, 89, 0.5);
  display: inline;
}

#login {
  position: relative;
  top: -65px;
  left: 770px;
  background-color: #898989;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 10px;
  width: 160px;
  text-align: center;
}

/* START OF BOOKING SLIDER */

#booking {
	position: fixed;
	top: 100px;
	left: -200px;
	-moz-transition: left 0.5s ease-out;
	-webkit-transition: left 0.5s ease-out;
	-o-transition: left 0.5s ease-out;
	transition: left 0.5s ease-out;
	color: #ffffff;
}

#booking > ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#booking li {
	float: left;
	position: relative;
	width: 199px;
	height: 90px;
	border-left: 1px solid white;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
}

#booking li:last-child {
	border-style: none;
	width: 90px;
	height: 30px;
	padding: 0px;
	font-size: 1.4em;
	font-weight: bold;
	color: black;
	background-color: #0f0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-transform-origin: top left;
	-moz-transform: rotate(90deg) translateY(-30px);
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(90deg) translateY(-30px);
	-o-transform-origin: top left;
	-o-transform: rotate(90deg) translateY(-30px);
	transform-origin: top left;
	transform: rotate(90deg) translateY(-30px);
}

#booking:hover {
	left: 0px;
}

#booking a:hover {
	color: red;
	-moz-box-shadow: red 0 0 20px inset;
	-webkit-box-shadow: red 0 0 20px inset;
	box-shadow: red 0 0 20px inset;
}

/* END BOOKING SLIDER */

/* MAIN PHOTOS SITE */
#photos {
  margin-top: 180px;
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
   
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}

#photo_details {
  position:relative;
  margin:0 auto;
  width:850px;
  max-width:2000px;
  top:120px;
  bottom:5%;
  padding:0;
  z-index: -1;
}

#photo_details img {
  display:inline-block;
  height:348px;
  width:260px;
  padding:0;
  margin:10px;
}

/* MEDIA QUERIES */
/* PHOTOS */
@media (max-width: 2000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/* PHOTO DETAILS */

@media (max-width: 880px) {
  #photo_details {
    width:565px;
  }

}
@media (max-width: 568px) {
  #photo_details {
    width:280px;
  }
}
