html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body{
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	max-width: 2000px;
	margin: 0 auto;
	padding: 0;
}

/*georgia is secondary font*/


nav {
	width: 100%;
	position: fixed;
	height: 40px;
	top: 28px;
	background-color: #595959;
	color: #ffffff;
	margin: 0;
	padding: 0;
	font-size: 11px;
	padding-top: 20px;
	box-shadow: 0px 0px 7px rgba(89, 89, 89, 0.5);
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  border-bottom: 1px dotted #ffffff;
  padding-bottom: 3px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 1px solid #898989;
  text-transform: uppercase;
}

nav li:last-of-type {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

nav img {
  position: absolute;
  top: -28px;
  left: 50%;
  margin-left: -72px;
  box-shadow: 0px 0px 7px rgba(89, 89, 89, 0.5);
}

#navLeft {
  float: left;
  margin-left: 15%;
}

#navRight {
  float: left;
  margin-left: 15%;
}

#login {
  position: absolute;
  top: -10px;
  right: 11%;
  background-color: #898989;
  padding: 10px 35px;
  text-transform: uppercase;
  font-size: 10px;
}

#photos {
  margin-top: 180px;
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
   
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}

/* MEDIA QUERIES */
@media (max-width: 2000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
